# runtime data
pids
*.pid
*.seed
*.pid.lock

# qa & diagnostic tools
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
lib-cov
coverage
*.lcov

# build and packaging output
build/Release
dist
tmp
out-tsc
*.tgz

# dependencies
## node.js
node_modules/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases

# yarn pnp
.pnp.*
# \!.pnp.*
.yarn/sdks
# \!.yarn/sdks

# caches
*.tsbuildinfo
.cache
.cspellcache

# transient files
vite.config.*.timestamp*
vitest.config.*.timestamp*
storybook-static

# environment variable files
.env
.env.*
!.env.example

# nx
.nx/cache
.nx/workspace-data
.nx/installation
.nx/schemas
.cursor/rules/nx-rules.mdc
!.github
.github/instructions/nx.instructions.md

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# system files
.DS_Store
Thumbs.db

# sst
.sst
